@model List<Jawn>
<div class="jumbotron">
    <h1>Dojo Activity Center</h1>
</div>

<table class="table">
    <thead>
        <tr>
            <th>Activity</th>
            <th>Date and Time</th>
            <th>Duration</th>
            <th>Event Coordinator</th>
            <th>Number of Participants</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach(Jawn j in Model)
        {
            @if(j.StartTime >= DateTime.Now)
            {
            <tr>
                <td><a href="/jawn/@j.JawnId">@j.Title</a></td>
                <td>@j.StartTime.ToLongDateString() @@ @j.Date.ToShortTimeString()</td>
                <td>@j.Duration minutes</td>
                <td>@j.Organizer.Name</td>
                <td>@j.Attendees.Count</td>
                <td>
                    @if(@j.Organizer.UserId == @ViewBag.User.UserId)
                    {
                        <a href="/jawn/@j.JawnId/delete" class="btn btn-danger">
                        Delete
                        </a>
                    }else{
                        @if(j.Attendees.Any( a => a.UserId == ViewBag.User.UserId)){
                            <a asp-action="ToggleJawn" asp-route-jawnId="@j.JawnId" asp-route-status="leave" class="btn btn-dark">Flake</a>

                        }else{
                            <a asp-action="ToggleJawn" asp-route-jawnId="@j.JawnId" asp-route-status="join" class="btn btn-info">Attend</a>
                        }
                    }

                </td>
            </tr>

            }
        }
    </tbody>
</table>

 <div class="row">
        <div class="col-lg-10">
        </div>
        <div class="col-lg-2">
            <a href="/jawn/new" class="btn btn-info">Add New Activity</a>
        </div>
    </div>